@charset "UTF-8";
/*---------- Eric Meyer’s “Reset CSS” 2.0 ----------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/*---------- HTML5 display-role reset for older browsers ----------*/
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*---------- base PC ----------*/
html body, html form {
  margin: 0;
  padding: 0;
}

html img {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  pointer-events: none;
  user-select: none;
}

html a {
  color: #0089fc;
  text-decoration: none;
  cursor: pointer;
}

html a:hover {
  color: #3d83a5;
  text-decoration: underline;
}

/*---------- base SP ----------*/
/*---------- フォーム部品 ----------*/
/* -------- footer PC -------- */
.l-footer .footer-logo {
  padding: 3% 0;
  text-align: center;
}

.l-footer .footer-sitemap {
  background: #2b374e;
}

.l-footer .footer-sitemap .footer-sitemap-category {
  width: 150px;
}

.l-footer .footer-sitemap .footer-sitemap__title {
  border-bottom: .3px solid #828893;
  color: #fff;
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 3;
}

.l-footer .footer-sitemap .footer-sitemap__list {
  margin-top: 1%;
  padding-left: 1%;
  line-height: 1;
  list-style: none;
}

.l-footer .footer-sitemap .footer-sitemap__link {
  color: #d1d1d1;
  font-size: 11px;
  font-size: 0.6875rem;
}

.l-footer .footer-nav {
  position: relative;
  padding: 0 0 12% 0;
  background: #15223a;
}

.l-footer .footer-nav .footer-nav__list {
  width: 600px;
  margin: auto;
  padding-top: 3%;
  text-align: center;
}

.l-footer .footer-nav .footer-nav__item {
  display: inline-block;
  margin: 1%;
}

.l-footer .footer-nav .footer-nav__link {
  display: inline-block;
  color: #d1d1d1;
  font-size: 11px;
  font-size: 0.6875rem;
  line-height: .3;
}

.l-footer .footer-nav .footer-copyright {
  -webkit-transform: translateY(-50%) translateX(-50%);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  color: #d1d1d1;
  font-size: 11px;
  font-size: 0.6875rem;
}

/* -------- footer SP -------- */

/* -------- header PC -------- */
.l-header {
  height: 72px;
  /* ナビ */
  /* ロゴ */
  /* キャッチフレーズ */
  /* 電話番号 */
  /* 営業時間 */
  /* ボタン */
}

.l-header .u-inner {
  position: relative;
}

.l-header .header-nav-list .header-nav-list__item {
  display: inline-block;
  margin-left: 16px;
  padding: 2px 0;
  float: right;
  font-size: 12px;
  font-size: 0.75rem;
}

.l-header .header-nav-list .header-nav-list__link {
  display: inline-block;
  float: right;
}

.l-header .header-logo {
  position: absolute;
  top: 50%;
  left: 0;
}

.l-header .header-tagline {
  position: absolute;
  top: 100%;
  left: 200px;
  font-size: 12px;
  font-size: 0.75rem;
}

.l-header .header-tell {
  display: inline-block;
  top: -2px;
  left: 40px;
  margin: 0;
  color: #f14841;
  font-family: Open Sans,sans-serif;
  font-size: 27px;
  font-weight: 600;
  white-space: nowrap;
}

.l-header .header-workday {
  display: inline-block;
  font-size: 11px;
  font-size: 0.6875rem;
}

.l-header .header-button .header-button__login .c-button {
  float: right;
}

.l-header .header-button .header-button__register .c-button {
  float: right;
}

/* -------- header SP -------- */
.c-button {
  display: inline-block;
  padding: 8px 16px 8px 26px;
  border: 1px solid #015ea3;
  border-radius: 3px;
  background-color: #fff;
  color: #46240a;
  font-weight: 700;
  line-height: 1;
}

.c-return-top {
  -ms-filter: alpha(opacity=70);
  -webkit-box-sizing: border-box;
  -webkit-transition-duration: .25s;
  box-sizing: border-box;
  z-index: 10;
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 100px;
  height: 100px;
  padding-top: 27px;
  border-radius: 50%;
  background: #000;
  color: #fff;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.2;
  text-align: center;
  text-decoration: none !important;
  filter: alpha(opacity=70);
  opacity: 0.7;
  transition-duration: .25s;
}

.p-top {
  height: 500px;
  background: #eee;
}

.u-mt1 {
  margin-top: 5px !important;
}

.u-mt2 {
  margin-top: 10px !important;
}

.u-mt3 {
  margin-top: 15px !important;
}

.u-mt4 {
  margin-top: 20px !important;
}

.u-mt5 {
  margin-top: 25px !important;
}

.u-mt6 {
  margin-top: 30px !important;
}

.u-mt7 {
  margin-top: 35px !important;
}

.u-mt8 {
  margin-top: 40px !important;
}

.u-mt9 {
  margin-top: 45px !important;
}

.u-mt10 {
  margin-top: 50px !important;
}

.u-mt1 {
  margin-top: 5px !important;
}

.u-mt2 {
  margin-top: 10px !important;
}

.u-mt3 {
  margin-top: 15px !important;
}

.u-mt4 {
  margin-top: 20px !important;
}

.u-mt5 {
  margin-top: 25px !important;
}

.u-mt6 {
  margin-top: 30px !important;
}

.u-mt7 {
  margin-top: 35px !important;
}

.u-mt8 {
  margin-top: 40px !important;
}

.u-mt9 {
  margin-top: 45px !important;
}

.u-mt10 {
  margin-top: 50px !important;
}

.u-mt1 {
  margin-top: 5px !important;
}

.u-mt2 {
  margin-top: 10px !important;
}

.u-mt3 {
  margin-top: 15px !important;
}

.u-mt4 {
  margin-top: 20px !important;
}

.u-mt5 {
  margin-top: 25px !important;
}

.u-mt6 {
  margin-top: 30px !important;
}

.u-mt7 {
  margin-top: 35px !important;
}

.u-mt8 {
  margin-top: 40px !important;
}

.u-mt9 {
  margin-top: 45px !important;
}

.u-mt10 {
  margin-top: 50px !important;
}

.u-mt1 {
  margin-top: 5px !important;
}

.u-mt2 {
  margin-top: 10px !important;
}

.u-mt3 {
  margin-top: 15px !important;
}

.u-mt4 {
  margin-top: 20px !important;
}

.u-mt5 {
  margin-top: 25px !important;
}

.u-mt6 {
  margin-top: 30px !important;
}

.u-mt7 {
  margin-top: 35px !important;
}

.u-mt8 {
  margin-top: 40px !important;
}

.u-mt9 {
  margin-top: 45px !important;
}

.u-mt10 {
  margin-top: 50px !important;
}

.u-pt1 {
  padding-top: 5px !important;
}

.u-pt2 {
  padding-top: 10px !important;
}

.u-pt3 {
  padding-top: 15px !important;
}

.u-pt4 {
  padding-top: 20px !important;
}

.u-pt5 {
  padding-top: 25px !important;
}

.u-pt6 {
  padding-top: 30px !important;
}

.u-pt7 {
  padding-top: 35px !important;
}

.u-pt8 {
  padding-top: 40px !important;
}

.u-pt9 {
  padding-top: 45px !important;
}

.u-pt10 {
  padding-top: 50px !important;
}

.u-pt1 {
  padding-right: 5px !important;
}

.u-pt2 {
  padding-right: 10px !important;
}

.u-pt3 {
  padding-right: 15px !important;
}

.u-pt4 {
  padding-right: 20px !important;
}

.u-pt5 {
  padding-right: 25px !important;
}

.u-pt6 {
  padding-right: 30px !important;
}

.u-pt7 {
  padding-right: 35px !important;
}

.u-pt8 {
  padding-right: 40px !important;
}

.u-pt9 {
  padding-right: 45px !important;
}

.u-pt10 {
  padding-right: 50px !important;
}

.u-pb1 {
  padding-bottom: 5px !important;
}

.u-pb2 {
  padding-bottom: 10px !important;
}

.u-pb3 {
  padding-bottom: 15px !important;
}

.u-pb4 {
  padding-bottom: 20px !important;
}

.u-pb5 {
  padding-bottom: 25px !important;
}

.u-pb6 {
  padding-bottom: 30px !important;
}

.u-pb7 {
  padding-bottom: 35px !important;
}

.u-pb8 {
  padding-bottom: 40px !important;
}

.u-pb9 {
  padding-bottom: 45px !important;
}

.u-pb10 {
  padding-bottom: 50px !important;
}

.u-pl1 {
  padding-left: 5px !important;
}

.u-pl2 {
  padding-left: 10px !important;
}

.u-pl3 {
  padding-left: 15px !important;
}

.u-pl4 {
  padding-left: 20px !important;
}

.u-pl5 {
  padding-left: 25px !important;
}

.u-pl6 {
  padding-left: 30px !important;
}

.u-pl7 {
  padding-left: 35px !important;
}

.u-pl8 {
  padding-left: 40px !important;
}

.u-pl9 {
  padding-left: 45px !important;
}

.u-pl10 {
  padding-left: 50px !important;
}

.u-inner {
  width: 96%;
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 2%;
}

@media screen and (max-width: 767px) {
  .l-footer .footer-sitemap .footer-sitemap__title {
    font-size: 13px;
    font-size: 3.09524vw;
  }
  .l-footer .footer-sitemap .footer-sitemap__link {
    font-size: 11px;
    font-size: 2.61905vw;
  }
  .l-footer .footer-nav .footer-nav__link {
    font-size: 11px;
    font-size: 2.61905vw;
  }
  .l-footer .footer-nav .footer-copyright {
    font-size: 11px;
    font-size: 2.61905vw;
  }
  .l-footer .footer-nav {
    padding: 0 0 25% 0;
  }
  .l-footer .footer-nav .footer-nav__list {
    width: auto;
  }
  .l-footer .footer-nav .footer-copyright {
    width: 100%;
    text-align: center;
  }
  .l-header .header-nav-list .header-nav-list__item {
    font-size: 12px;
    font-size: 2.85714vw;
  }
  .l-header .header-tagline {
    font-size: 12px;
    font-size: 2.85714vw;
  }
  .l-header .header-workday {
    font-size: 11px;
    font-size: 2.61905vw;
  }
  .c-button {
    color: red;
  }
  .c-return-top {
    font-size: 14px;
    font-size: 3.33333vw;
  }
  .c-return-top {
    display: none !important;
  }
  .u-pc {
    display: none !important;
  }
}

@media screen and (min-width: 768px) {
  .u-sp {
    display: none !important;
  }
}
