@charset "UTF-8";
/*---------- Eric Meyer’s “Reset CSS” 2.0 ----------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/*---------- HTML5 display-role reset for older browsers ----------*/
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*---------- 基本 ----------*/
html body, html form {
  margin: 0;
  padding: 0;
}

html a {
  color: #0089fc;
  text-decoration: none;
  cursor: pointer;
}

/*---------- フォーム部品 ----------*/
.l-header {
  height: 70px;
  /* ナビ */
  /* ロゴ */
  /* キャッチフレーズ */
  /* 電話番号 */
  /* 営業時間 */
  /* ボタン */
}

.l-header .header-nav-list .header-nav-list__item {
  display: inline-block;
  margin-left: 16px;
  padding: 2px 0;
  float: right;
  font-size: 12px;
  font-size: 0.75rem;
}

.l-header .header-nav-list .header-nav-list__link {
  display: inline-block;
  float: right;
}

.l-header .header-logo {
  display: inline-block;
  float: right;
}

.l-header .header-tagline {
  display: inline-block;
  position: absolute;
  top: 32px;
  left: 173px;
  font-size: 12px;
  font-size: 0.75rem;
}

.l-header .header-tell {
  display: inline-block;
  position: absolute;
  top: -2px;
  left: 40px;
  margin: 0;
  color: #f14841;
  font-family: Open Sans,sans-serif;
  font-size: 27px;
  font-weight: 600;
  white-space: nowrap;
}

.l-header .header-workday {
  display: inline-block;
  font-size: 11px;
  font-size: 0.6875rem;
}

.l-header .header-button .header-button__login .c-button {
  float: right;
}

.l-header .header-button .header-button__register .c-button {
  float: right;
}

.c-button {
  display: inline-block;
  padding: 8px 16px 8px 26px;
  border: 1px solid #015ea3;
  border-radius: 3px;
  background-color: #fff;
  color: #46240a;
  font-weight: 700;
  line-height: 1;
}

@media screen and (max-width: 767px) {
  .l-header .header-nav-list .header-nav-list__item {
    font-size: 12px;
    font-size: 3.75vw;
  }
  .l-header .header-tagline {
    font-size: 12px;
    font-size: 3.75vw;
  }
  .l-header .header-workday {
    font-size: 11px;
    font-size: 3.4375vw;
  }
}
