.u-pt1 {
  padding-top: 1% !important;
}

.u-pt2 {
  padding-top: 2% !important;
}

.u-pt3 {
  padding-top: 3% !important;
}

.u-pr1 {
  padding-right: 1% !important;
}

.u-pr2 {
  padding-right: 2% !important;
}

.u-pr3 {
  padding-right: 3% !important;
}

.u-pb1 {
  padding-bottom: 1% !important;
}

.u-pb2 {
  padding-bottom: 2% !important;
}

.u-pb3 {
  padding-bottom: 3% !important;
}

.u-pl1 {
  padding-left: 1% !important;
}

.u-pl2 {
  padding-left: 2% !important;
}

.u-pl3 {
  padding-left: 3% !important;
}
