@charset "utf-8";
@import "./../foundation/mixin";
@import "./../foundation/variables";

.c-return-top {
  @include circle(100);
  @include opacity(.7);
  @include fontSize(14);
  position: fixed;
  padding-top: 27px;
  box-sizing: border-box;
  background: #000;
  color: #fff;
  text-align: center;
  transition-duration: .25s;
  z-index: 10;
  line-height: 1.2;
  right: 30px;
  bottom: 30px;
  text-decoration: none !important;
}

@include mediaSp {

}
