@charset "utf-8";

//---------- u-utility ----------
.u-inner {
	width: 96%;
  max-width: 1160px;
  margin: 0 auto;
	padding: 0 2%;
}

@media screen and (min-width: 768px){
	.u-sp {
		display: none !important;
	}
}
@media screen and (max-width: 767px){
	.u-pc {
		display: none !important;
	}
}
